<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Web Hosting HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css" th:href="@{/assets/css/owl.carousel.min.css}">
  <link rel="stylesheet" href="assets/css/slicknav.css" th:href="@{/assets/css/slicknav.css}">
  <link rel="stylesheet" href="assets/css/animate.min.css" th:href="@{/assets/css/animate.min.css}">
  <link rel="stylesheet" href="assets/css/magnific-popup.css" th:href="@{/assets/css/magnific-popup.css}">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" th:href="@{/assets/css/fontawesome-all.min.css}">
  <link rel="stylesheet" href="assets/css/themify-icons.css" th:href="@{/assets/css/themify-icons.css}">
  <link rel="stylesheet" href="assets/css/slick.css" th:href="@{/assets/css/slick.css}">
  <link rel="stylesheet" href="assets/css/nice-select.css" th:href="@{/assets/css/nice-select.css}">
  <link rel="stylesheet" href="assets/css/style.css" th:href="@{/assets/css/style.css}">
  <title>Share Your Planner</title>
</head>
<body>
<!-- Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="/assets/img/logo/loder.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <div th:insert="~{fragment/header :: header}"></div>
</header>
<main>
  <!-- Hero Start-->
  <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center pt-50">
            <h2>Share Your Planner</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Hero End -->
  <!--================shareplanner Area =================-->
  <div class="testimonial-area testimonial-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="listing-details-area">
            <div class="container">
              <div class="row">

                <div class="col-lg-6 ">
                  <div class="single-listing mb-30">
                    <div class="list-img">
                      <img src="assets/img/gallery/list1.png" th:src="@{assets.bck}" alt="">
                      <!-- <span>Open</span> -->
                    </div>
                    <div class="list-caption">
                      <h3><a href="listing_details.html">대구</a></h3>
                      <p>"무더운 대프리카"</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="single-listing mb-30">
                    <div class="list-img">
                      <img src="assets/img/gallery/list2.png" th:src="@{assets.bck}" alt="">
                      <!-- <span>Open</span> -->
                    </div>
                    <div class="list-caption">
                      <h3><a href="listing_details.html">부산</a></h3>
                      <p>"대한민국 제2의 도시"</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="single-listing mb-30">
                    <div class="list-img">
                      <img src="assets/img/gallery/list3.png" th:src="@{assets.bck}" alt="">
                      <!-- <span>Open</span> -->
                    </div>
                    <div class="list-caption">
                      <h3><a href="listing_details.html">전주</a></h3>
                      <p>"비벼 그냥 막 비벼 전부비빔밥"</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="single-listing mb-30">
                    <div class="list-img">
                      <img src="assets/img/gallery/list4.png" th:src="@{assets.bck}" alt="">
                      <!-- <span>Open</span> -->
                    </div>
                    <div class="list-caption">
                      <h3><a href="listing_details.html">강릉</a></h3>
                      <p>"여름은 역시 경포대"</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="single-listing mb-30">
                    <div class="list-img">
                      <img src="assets/img/gallery/list5.png" th:src="@{assets.bck}" alt="">
                      <!-- <span>Open</span> -->
                    </div>
                    <div class="list-caption">
                      <h3><a href="listing_details.html">여수</a></h3>
                      <p>"여수 밤바다"</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="single-listing mb-30">
                    <div class="list-img">
                      <img src="assets/img/gallery/list6.png" th:src="@{assets.bck}" alt="">
                      <!-- <span>Open</span> -->
                    </div>
                    <div class="list-caption">
                      <h3><a href="listing_details.html">서울</a></h3>
                      <p>"성공의 도시"</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="pagination-area pt-70 text-center">
            <div class="container">
              <div class="row">
                <div class="col-xl-12">
                  <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div th:insert="~{fragment/footer1 :: footer1}"></div>
</footer>
<!-- Scroll Up -->
<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>

<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>