<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>My page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/slicknav.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/themify-icons.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>My Page</title>
  <style>

  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
        $("#memberForm").submit(function (event) {
          event.preventDefault(); // 폼 제출 이벤트 기본 동작 방지

          // 유효성 검사 함수 호출
          if (!validcheck()) {
            return false; // 유효성 검사에 실패하면 폼 제출을 막음
          }

          // update 함수 정의
          function update() {
            let data = {
              userId: $("#userId").val(),
              //  username: $("#name").val(),
              pw: $("#pw").val()
            };

            $.ajax({
              type: "PUT",
              url: "/member",
              data: JSON.stringify(data), // object -> json
              contentType: "application/json; charset=utf-8",
              dataType: "json"
            }).done(function (response) {
              alert("회원 정보 수정이 완료되었습니다.");
              location.href = "/logout";
            }).fail(function (error) {
              alert("회원 정보 수정을 실패하였습니다.");
            });
          }

          // update 함수 호출
          update();
        });
      });

      function validcheck() {
        var pw = document.getElementById('pw').value;
        var pw_chk = document.getElementById('pw_chk').value;
        var reg = /^(?=.*[a-z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,24}$/; // 비밀번호 정규식

        if (!reg.test(pw)) {
          document.getElementById("error1").innerText = "비밀번호는 8~24자 사이의 영문소문자, 숫자, 특수문자 조합을 사용하세요.";
          return false;
        }

        if (pw !== pw_chk) {
          // alert("비밀번호가 일치하지 않습니다.");
          document.getElementById("error2").innerText = "비밀번호가 일치하지 않습니다.";
          document.getElementById("error1").style.display = "none";
          return false;
        }

        document.getElementById("error1").style.display = "none";
        document.getElementById("error2").style.display = "none";
        return true; // 유효성 검사 통과 시 true 반환
      }
  </script>
</head>
<body>
<!-- Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="/assets/img/logo/loder.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <div th:insert="~{fragment/header :: header}"></div>
</header>
<main>
  <!-- Hero Start-->
  <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center pt-50">
            <h2>My Page</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Hero End -->
  <div class="listing-caption section-padding2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h3 class="mb-20" style="text-align: center">My Page</h3>
          <form id="memberForm" onsubmit="return validcheck()">
            <div class="mt-10">
              계정 <input class="single-input" id="userId" th:value="${session.memberinfo.userId}" readonly>
              </br>
              새 비밀번호 <input type="password" class="single-input" id="pw" value="" placeholder="8~24자 사이의 영문소문자, 숫자, 특수문자 조합을 사용하세요.">
              <span id="error1" style="color: red;"></span></br>
              새 비밀번호 확인 <input type="password" class="single-input" id="pw_chk" value="">
              <span id="error2" style="color: red;"></span></br>
              </br>
              <button class="genric-btn primary small" name="pw" type="submit">비밀번호 변경</button>
            </div>
          </form>

          <hr>

          <form name="" method="post" id="">
            <div class="mt-10">
              이름 <input class="single-input" name="name" id="name" th:value="${session.memberinfo.name}" readonly></br>
              핸드폰번호 <input class="single-input" type="phone" name="phone" id="phone" th:value="${session.memberinfo.phone}" readonly></br>
              이메일주소 <input class="single-input" type="email" name="email" id="email" th:value="${session.memberinfo.email}" readonly></br>
              생일 <input class="single-input" type="date" name="birth" id="birth" th:value="${session.memberinfo.birth}" readonly></br>
              성별<input class="single-input" name="gender" id="gender" th:value="${session.memberinfo.gender}" readonly>

              <!--              성별 <br>-->
              <!--              <a class="single-input">-->
              <!--                <input type="radio" name="gender" value="Male" id="maleRadio" th:checked="${session.memberinfo.gender == 'Male'}" /><label for="maleRadio">Male</label>-->
              <!--                <input type="radio" name="gender" value="Female" id="femaleRadio" th:checked="${session.memberinfo.gender == 'Female'}" /><label for="femaleRadio">Female</label>-->
              <!--              </a>-->

            </div>

            <hr>

            <div style="text-align: center;">
              <input class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" style=" width:  770px; height: 50px;" value="회원정보 수정" readonly>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <div th:insert="~{fragment/footer1 :: footer1}"></div>
</footer>
<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<!--</script>-->
<!-- All JS Custom Plugins Link Here here -->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>

<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>