<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<!-- Footer Start-->
<div class="footer-area" th:fragment="footer1">
  <div class="container">
    <div class="footer-top footer-padding">
      <div class="row justify-content-between">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
              <!-- logo -->
              <div class="footer-tittle">
<!--                <a href="home.html">-->
<!--                  템플릿 로고-->
                  <a>
                    <img src="/assets/img/logo/git.png" alt="">
                    <img src="/assets/img/logo/spring.png" alt="">
                    <img src="/assets/img/logo/jpa.png" alt="">
                    <img src="/assets/img/logo/oracle.png" alt="">
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>조원</h4>
              <ul>
                <li><a >이상기</a></li>
                <li><a >한보람</a></li>
                <li><a >강승훈</a></li>
                <li><a >김비오</a></li>
                <li><a >김민욱</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>GitHub</h4>
              <ul>
                <li><a href="#">Drifter1999</a></li>
                <li><a href="#">Hanwinter129</a></li>
                <li><a href="#">duoogo@gmail.com</a></li>
                <li><a href="#">qldh_123@naver.com</a></li>
                <li><a href="#">m1nwook</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-xl-9 col-lg-8">
          <div class="footer-copy-right">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End-->
</html>