<!-- header.html -->
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div class="header-area header-transparent" th:fragment="header">
  <div class="main-header">
    <div class="header-bottom  header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a th:href="home.html">
                <img src="/assets/img/logo/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-8">
            <!-- Main-menu -->
            <div class="main-menu f-right d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a th:href="@{/}">Home</a></li>
                  <li><a th:href="@{/header/about}">About</a></li>
                  <li><a th:href="@{/header/category}">Categories</a></li>
                  <li><a th:href="@{/header/listing}">Listing</a>
                    <ul class="submenu">
                     <li><a th:href="@{/header/listing_details}">Listing details</a></li>
                    </ul>
                  </li>
                  <li><a th:href="@{/header/blog}">Blog</a>
                    <ul class="submenu">
<!--                      <li><a th:href="@{/header/blog}">Blog</a></li>-->
                      <li><a th:href="@{/header/blogDetails}">Blog Details</a></li>
                      <li><a th:href="@{/header/elements}">Element</a></li>
                    </ul>
                  </li>
                  <li><a th:href="@{/header/contact}">Contact</a></li>
                  <li class="add-list"><a href="../listing_details.html"><i class="ti-plus"></i> add Listing</a></li>
                  <li class="login"><a href="#"><i class="ti-user"></i> Sign in or Register</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>