<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Calendar with Itinerary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <link rel="stylesheet" href="path/to/your/custom/header.css">
    <link rel="stylesheet" href="path/to/your/custom/footer.css">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <div th:insert="~{fragment/header :: header}"></div>
</header>
<!--  sec:authorize="isAuthenticated()" -->
<main>
    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Calendar - 일정</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero End -->
    <hr>
    <!-- Shopping Cart Table Start -->
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>목적지</th>
                        <th>카테고리</th>
                        <th>여행시작</th>
                        <th>여행종료</th>
                        <th>일정 등록/철회</th>
                        <th>일정 삭제</th>
                    </tr>
                    </thead>
                    <tbody th:each="data : ${CartArr}">
                        <tr>
                            <td th:text="${data.contentTitleList}"></td>
                            <td th:text="${data.contentName}"></td>
                            <td th:text="${data.strDate}"></td>
                            <td th:text="${data.endDate}"></td>
                            <td><button class="btn btn-primary apply-btn">Apply</button></td>
                            <td><button class="btn btn-danger"
                                        onclick="removeCart(this)"
                                        th:value="${data.ScheduleCartId}"> 일정 삭제 </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Shopping Cart Table End -->

    <!-- Calendar Start -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <!-- Calendar End -->
</main>
<footer>
    <div th:insert="~{fragment/footer1 :: footer1}"></div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            // Set the calendar options
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month',
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            displayEventTime: false,
            events: []
        });

        $('.apply-btn').click(function() {
            // Get the corresponding itinerary data from the table row
            var row = $(this).closest('tr');
            var title = row.find('td:eq(0)').text();
            var startDate = row.find('td:eq(2)').text();
            var endDate = row.find('td:eq(3)').text();
            var description = row.find('td:eq(0)').text();

            var isEventApplied = $('#calendar').fullCalendar('clientEvents', function(event) {
                return (
                    event.title === title &&
                    event.start.format('YYYY-MM-DD') === startDate &&
                    event.end.format('YYYY-MM-DD') === endDate &&
                    event.description === description &&
                    event.itinerary === true
                );
            }).length > 0;

            if (isEventApplied) {
                $('#calendar').fullCalendar('removeEvents', function(event) {
                    return (
                        event.title === title &&
                        event.start.format('YYYY-MM-DD') === startDate &&
                        event.end.format('YYYY-MM-DD') === endDate &&
                        event.description === description &&
                        event.itinerary === true
                    );
                });

                $(this).text('Apply').removeClass('btn-success').addClass('btn-primary');
            } else {
                var event = {
                    title: title,
                    start: startDate,
                    end: endDate,
                    description: description,
                    itinerary: true
                };

                $('#calendar').fullCalendar('renderEvent', event);

                $(this).text('Applied').removeClass('btn-primary').addClass('btn-success');
            }
        });

        $('.btn-danger').click(function() {
            // Get the corresponding itinerary data from the table row
            var row = $(this).closest('tr');
            var title = row.find('td:eq(0)').text();
            var startDate = row.find('td:eq(2)').text();
            var endDate = row.find('td:eq(3)').text();
            var description = row.find('td:eq(0)').text();

            $('#calendar').fullCalendar('removeEvents', function(event) {
                return (
                    event.title === title &&
                    event.start.format('YYYY-MM-DD') === startDate &&
                    event.end.format('YYYY-MM-DD') === endDate &&
                    event.description === description &&
                    event.itinerary === true
                );
            });

            row.remove();
        });
    });
</script>
<script>
    function removeCart(selector) {

        var id = selector.value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/remove");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({ id: id }));
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // 응답 처리 로직
                var response = JSON.parse(xhr.responseText);
                console.log(response)
                // 성공적으로 삭제된 경우
                if (response.success) {
                    alert("삭제 성공");
                } else {
                    // 삭제 실패 시 처리 로직
                    alert("삭제 실패");
                }
            }
        };
    }
</script>
<script>
    function saveSchedule() {
        /*const fc_content = document.getElementsByClassName('fc-content').classList.contains()*/
        const fc_content = document.getElementsByClassName('fc-content');
        for (var i = 0 ; i < fc_content.length ; i++) {
            if(fc_content[i].classList.contains('fc-title')){

            }
        }

    };
</script>
</body>
</html>
