<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 일정</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/slicknav.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">

        <img src="assets/img/logo/loder.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<header>
  <div th:insert="~{fragment/header :: header}"></div>
</header>

<main sec:authorize="isAuthenticated()">
  <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center pt-50">
            <h2>공유된 플래너</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="blog_area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">
            <article class="blog_item" th:each="data : ${ShareScheduleList}">
              <div class="blog_item_img">
                <img class="card-img rounded-0" src="/assets/img/blog/single_blog_5.png" alt="">
              </div>

              <div class="blog_details">
                <a class="d-inline-block"
                   onclick="goDetails(this)" th:value="${data.scheduleToShare.id}">
                  <!--th:href="@{/header/sharedetails/{scheduleId}(scheduleId=${data.scheduleToShare.id})}"-->
                  <h2 th:text="${data.title}"></h2>
                </a>
                <p th:text="${data.strDate} + ' 부터 ' + ${data.endDate} + '까지 입니다.'"></p>
                <ul class="blog-info-link">
                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div th:insert="~{fragment/footer1 :: footer1}"></div>
</footer>
<!-- JS here -->
<!-- All JS Custom Plugins Link Here -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/daterangepicker.js"></script>
<script th:inline="javascript">
    function goDetails(selector) {
        var url = '/header/sharedetails?scheduleId=' + selector.value;
        location.href = url;
    }
</script>
<!--
<div id="schedule-container">
  &lt;!&ndash; 상세 일정 내용을 동적으로 추가할 영역 &ndash;&gt;
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Get the selected date from the URL query parameter
  var urlParams = new URLSearchParams(window.location.search);
  var selectedDate = urlParams.get('selectedDate');

  // AJAX request to retrieve itinerary information
  $.ajax({
    url: '/get-schedule', // endpoint URL to retrieve itinerary information
    type: 'GET',
    dataType: 'json',
    success: function(response) {
      // Callback function that is executed when travel itinerary information is successfully loaded
      // The response data received from the server is stored in the response variable

      // Filter the itinerary information based on the selected date
      var filteredData = response.filter(function(schedule) {
        return schedule.date === selectedDate;
      });

      // Write the logic to process and display the filtered itinerary information.
      // Example: Loop through the filtered data and dynamically create HTML and add it to #schedule-container.

      // Example code
      var scheduleContainer = $('#schedule-container');
      scheduleContainer.empty(); // Delete the old content

      // Loop through the filtered data and dynamically create HTML
      for (var i = 0; i < filteredData.length; i++) {
        var schedule = filteredData[i];
        var scheduleHTML = '<div class="schedule-item">' +
          '<h2>' + schedule.title + '</h2>' +
          '<p>' + schedule.description + '</p>' +
          '</div>';

        scheduleContainer.append(scheduleHTML);
      }
    },
    error: function(xhr, status, error) {
      // Callback function to be executed when AJAX request fails
      console.log('Error:', error);
    }
  });
});
</script>
-->

</body>
</html>