<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Web Hosting HTML-5 Template </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/slicknav.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<title>Sign up</title>
<!--	<script>-->
<!--	&lt;!&ndash;	$(document).ready(function() {&ndash;&gt;-->
<!--	&lt;!&ndash;		// 아이디 중복 체크&ndash;&gt;-->
<!--	&lt;!&ndash;		$("#checkId").click(function() {&ndash;&gt;-->
<!--	&lt;!&ndash;			var userId = $("#userId").val();&ndash;&gt;-->
<!--	&lt;!&ndash;			$.ajax({&ndash;&gt;-->
<!--	&lt;!&ndash;				type: "GET",&ndash;&gt;-->
<!--	&lt;!&ndash;				url: "checkId.jsp",&ndash;&gt;-->
<!--	&lt;!&ndash;				data: {"userId": userId},&ndash;&gt;-->
<!--	&lt;!&ndash;				dataType: "json",&ndash;&gt;-->
<!--	&lt;!&ndash;				success: function(data) {&ndash;&gt;-->
<!--	&lt;!&ndash;					if (data.result == "success") {&ndash;&gt;-->
<!--	&lt;!&ndash;						alert("사용 가능한 아이디입니다.");&ndash;&gt;-->
<!--	&lt;!&ndash;					} else {&ndash;&gt;-->
<!--	&lt;!&ndash;						alert("이미 사용중인 아이디입니다.");&ndash;&gt;-->
<!--	&lt;!&ndash;					}&ndash;&gt;-->
<!--	&lt;!&ndash;				},&ndash;&gt;-->
<!--	&lt;!&ndash;				error: function(xhr, status, error) {&ndash;&gt;-->
<!--	&lt;!&ndash;					alert("서버와의 통신에 실패하였습니다.");&ndash;&gt;-->
<!--	&lt;!&ndash;				}&ndash;&gt;-->
<!--	&lt;!&ndash;			});&ndash;&gt;-->
<!--	&lt;!&ndash;		});&ndash;&gt;-->

<!--	&lt;!&ndash;		// 이메일 중복 체크&ndash;&gt;-->
<!--	&lt;!&ndash;		$("#checkEmail").click(function() {&ndash;&gt;-->
<!--	&lt;!&ndash;			var email = $("#email").val();&ndash;&gt;-->
<!--	&lt;!&ndash;			$.ajax({&ndash;&gt;-->
<!--	&lt;!&ndash;				type: "GET",&ndash;&gt;-->
<!--	&lt;!&ndash;				url: "checkEmail.jsp",&ndash;&gt;-->
<!--	&lt;!&ndash;				data: {"email": email},&ndash;&gt;-->
<!--	&lt;!&ndash;				dataType: "json",&ndash;&gt;-->
<!--	&lt;!&ndash;				success: function(data) {&ndash;&gt;-->
<!--	&lt;!&ndash;					if (data.result == "success") {&ndash;&gt;-->
<!--	&lt;!&ndash;						alert("사용 가능한 이메일입니다.");&ndash;&gt;-->
<!--	&lt;!&ndash;					} else {&ndash;&gt;-->
<!--	&lt;!&ndash;						alert("이미 사용중인 이메일입니다.");&ndash;&gt;-->
<!--	&lt;!&ndash;					}&ndash;&gt;-->
<!--	&lt;!&ndash;				},&ndash;&gt;-->
<!--	&lt;!&ndash;				error: function(xhr, status, error) {&ndash;&gt;-->
<!--	&lt;!&ndash;					alert("서버와의 통신에 실패하였습니다.");&ndash;&gt;-->
<!--	&lt;!&ndash;				}&ndash;&gt;-->
<!--	&lt;!&ndash;			});&ndash;&gt;-->
<!--	&lt;!&ndash;		});&ndash;&gt;-->
<!--	&lt;!&ndash;	});&ndash;&gt;-->
<!--	&lt;!&ndash;</script>&ndash;&gt;-->
</head>
<body>
<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="preloader-circle"></div>
			<div class="preloader-img pere-text">
				<img src="/assets/img/logo/loder.jpg" alt="">
			</div>
		</div>
	</div>
</div>
<!-- Preloader Start -->
<header>
	<div th:insert="~{fragment/header :: header}"></div>
</header>
<main>
	<!-- Hero Start-->
	<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="hero-cap text-center pt-50">
						<h2>Sign up</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Hero End -->

	<div class="listing-caption section-padding2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h3 class="mb-20" style ="text-align: center">Sign up</h3>
					<form name="signupform" id="signupform" method="post" action="/signup" >
						<div class="mt-10">

							<input type="text" id="id" name="id" placeholder="Please enter a ID"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Please enter a ID'" required
								   class="single-input" style="width: 650px; float:left;"
								   pattern="[a-z0-9]{4,12}" title="4~12자 영어소문자, 숫자만 가능합니다.">
							<input type="button" onclick="idCheck()" value="Check" style="float: right">
							<div id="idCheckMsg"></div>

						</div>

						</br></br></br>

						<div>
							<input type="password" name="pw" id="pw" placeholder="Please enter a password"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Please enter a password'" required
								   class="single-input"
								   pattern="(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]|.*[0-9]).{8,24}$" title="8~24자 영문대소문자, 숫자, 특수문자 혼합해서 넣어주세요">

						</div>

						</br>

						<div>
							<input type="password" name="password_chk" id="password_chk" placeholder="Enter your password one more time"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your password one more time'" required
								   class="single-input">
							<span id="password-error" style="color: tomato;"></span>
						</div>

						</br>

						<div class="mt-10">
							<input type="text" id="name" name="name" placeholder="Please enter a name"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Please enter a name'" required
								   class="single-input"
								   maxlength="8" title="8자까지 가능합니다.">
						</div>

						</br>

						<div class="mt-10">

							<input type="email" id="email" name="email" placeholder="Please enter a email" style="width: 650px; float:left;"
								   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Please enter a email'" required
								   class="single-input">
							<input type="button" onclick="idCheck()" value="Check" style="float: right">

						</div>
						</br></br></br>
						<div class="">
							<div class="icon"><i class="" aria-hidden="true"></i></div>
							<input type="text" name="phone" placeholder="Please enter a contact number without -" onfocus="this.placeholder = ''"
								   onblur="this.placeholder = 'Please enter a contact number without - '" required class="single-input"
								   pattern="[0-9]{11}" title="11자 이내 숫자만 가능합니다">

						</div>
						</br>
						<div class="">
							<div class="form-select" id="default-select" style="text-align:center">
								<h5>GENDER</h5>
								<label><input type="radio" name="gender" value="Male" required>Male</label>
								<label><input type="radio" name="gender" value="Female" required>Female</label>
							</div>

							<br><br>
						</div>

						<br>

						<div class="" style="text-align:center">
							<h5>Birth Date</h5>
							<input style="width: 300px; height: 40px;" type="date" name="birth" required>
						</div>

						</br></br></br>
						<div style="text-align: center;">
							<button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" style=" width:  770px; height: 50px;">Sign Up</button>
<!--							<input class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit" value="Sign Up" style=" width:  770px; height: 50px;">-->
						</div>
						</br>
						<div style="text-align: center;">
							<input class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"  type="submit" value="Cancle" style=" width:  770px;  height: 50px;" onclick="validatePassword(e)">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<footer>
	<div th:insert="~{fragment/footer1 :: footer1}"></div>
</footer>
<!-- Scroll Up -->
<div id="back-top" >
	<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!--<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<!--<script>-->
<!--	function idCheck() {-->
<!--	}-->
<!--	function emailCheck() {-->
<!--	}-->

<!--	var passwordInput = document.getElementById("password");-->
<!--	var confirmPasswordInput = document.getElementById("password_chk");-->
<!--	var passwordError = document.getElementById("password-error");-->

<!--	confirmPasswordInput.addEventListener("input", function () {-->
<!--		if (confirmPasswordInput.value !== passwordInput.value) {-->
<!--			passwordError.textContent = "패스워드가 일치하지 않습니다.";-->
<!--		} else {-->
<!--			passwordError.textContent = "패스워드가 일치합니다.";-->
<!--		}-->
<!--	});-->

<!--	$(function() {-->
<!--		$("#signupform").submit(function(e) {-->

<!--			e.preventDefault();-->

<!--			if (confirmPasswordInput.value !== passwordInput.value) {-->
<!--				alert("패스워드를 확인해주세요");-->
<!--				return false; // 제출을 막음-->
<!--			}-->

<!--			let frm = document.signupform;-->
<!--			frm.submit();-->
<!--		})-->
<!--	});-->


<!--</script>-->
<!-- All JS Custom Plugins Link Here here -->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>

<!-- Nice-select, sticky -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>